<!DOCTYPE html>
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static "css/ui.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/admin.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/iconfont.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "skin/default/skin.css" %}" id="skin" />
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
    <title>User Information</title>
</head>

<body>
    <h1>User Information</h1>

</body>
</html>